            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-fees'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a ng-href="ku-ops"><i class="fa fa-shopping-cart fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a ng-href="hr-yourself">KU OPS</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>Online Purchasing</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-fees')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>