            <div class="ms-tile pack" packery>
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-library'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="http://ku-primo-prod.hosted.exlibrisgroup.com/primo_library/libweb/action/myAccountMenu.do?vid=KU_VU1" target="_blank"><i class="fa fa-book fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="http://ku-primo-prod.hosted.exlibrisgroup.com/primo_library/libweb/action/myAccountMenu.do?vid=KU_VU1" target="_blank">My Library</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>On The back</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-library')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>