            <div class="ms-tile pack" packery>
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-room-bookings'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://kuloans.kingston.ac.uk/connect2/wizard/default.aspx" target="_blank" ><i class="fa fa-sign-in fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://kuloans.kingston.ac.uk/connect2/wizard/default.aspx" target="_blank" >My Room Bookings</a>
                                    <div class="details">
                                        <p>Next Booking:<br />Room 5a, Kingston House 21/6/2015 @ 9:15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>On The back</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-room-bookings')"><i class="fa fa-calendar-check-o fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>