	
  	<header class="fixed">
		<ng-include src="'assets/js/app/views/partials/my-status/top-bar.html'"></ng-include>
	</header>

	<div class="container">
		<div class="ms-wall">
            <div class="tile ms-menu stamp pack" packery>
                <div class="tile-body row">
                    <div class="tile-content">
                        <a ng-href="/my-status"><i class="fa fa-home fa-4x"></i></a>
                    </div>
                </div>      
            </div>
			<ng-include src="'assets/js/app/views/partials/my-status/tiles/my-tickets/quemis.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my-status/tiles/my-tickets/service-desk.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my-status/tiles/my-tickets/esd.html'"></ng-include>
        </div>
	</div>