            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-print-account.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-tickets.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-print-account.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-mail.html'"></div> 

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-studyspace.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-library.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-room-bookings.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-timetable.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-equipment-loans.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-modules.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-door-access.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-it-account.html'"></div>