			<div class="tile service-group" >
                <div class="tile-body row" >
                    <div class="tile-front">
                        <div class="tile-content" >
                            <a ng-href="my-tickets">My Tickets</a>
                        </div>
                    </div>
                    <div class="tile-back">
                        <div class="tile-content">
                            <p>{{ctrl.myTickets.desc}}</p>
                        </div>
                    </div>
                </div>
                <div class="tile-icons">
                    <ul>
                        <li><a href="#"><span aria-haspopup="true" class="has-tip tip-top" tooltip="My Tickets"><i class="fa fa-tags fa-lg"></i></span></a></li>
                        <li><a  ng-href="my-tickets" ><i class="fa {{endpoint.target_type}} fa-lg"></i></a></li>
                        <li><a href="#" ><i class="fa fa-info fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>