/* Additional styles for IE < 10 
/* Mirror any changes made here to the bottom of the app.css .ie classes */

.service-group, .service-group .tile-body, .service-group .tile-content {
    width: 278px;
}

.endpoint, .endpoint .tile-body, .endpoint .tile-content {
    width: 130px;
}

.tile-body{
	height:101px;
}

.tile-front {
    height:101px;
	margin:2px;
}

.tile-front {
    height:101px;	margin:2px;
}

.top-bar .button {
	height: auto;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
