/* Elements & general class*/
body {
	background: #d9e2ea;
	box-sizing: content-box;
	font-family: sans-serif;
	background: #000 url('../images/bg-page-4.jpg') no-repeat center center fixed;
	background-size: cover; 
}

header {
	height: 45px;
}

p {
	font-size: 12pt;
}

/* Page Layout */
.container {
    overflow: visible;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 65px auto;
}

#mask {
	position:fixed;
	top:46px;
	z-index:99;
	height:100vh;
	width:100%;
	background:rgba(5,5,5,0.9);
}

.spinner {
	font-size: 5rem;
	color: #0492D4;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	left: 50%;
}

.srch {
	height: ;
}

.wall, .ms-wall {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	width: auto;
	max-width: 900px;
	min-width: 755px;
}

.ms-wall {
	max-width: 1040px;
}

/* Tile layout */
.tile {
    border: 2px solid #000;
    border-radius: 3px;
    margin: 0 5px 10px;
    width: auto;
    height: 132px;
    position: relative;
    box-sizing: content-box;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    padding: 2px;
    background: #fff;
}

.service-group, .service-group .tile-body, .service-group .tile-content {
    width: 282px;
}

.service-group .tile-content {
	font-size: 12pt
}

.endpoint .tile-content {
	font-size: 11pt
}

.endpoint, .endpoint .tile-body, .endpoint .tile-content {
    width: 130px;
}

.tile-body {
    height:101px;
    -webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tile-front, .tile-back{
    height: 100%;
    display: table;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
    text-align: center;


}

.tile-front {
	z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); 

    /* fix for chrome < 22 */
    /*-webkit-transform: rotateY(0deg);*/
}

/* back, initially hidden pane */
.tile-back {
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tile-content {
    display: table-cell;
    vertical-align: middle;
    padding: 3px 8px;
    cursor: pointer;
}

.tile-content p {
    font-size: 10pt;
    color: #fff;
}

.tile-back .tile-content p {
    line-height: 1.4;
}

.tile-content a {
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    -webkit-transition: 200ms linear 0s;
    -moz-transition: 200ms linear 0s;
    -o-transition: 200ms linear 0s;
    transition: 200ms linear 0s;
    outline: 0 none;
    display: table-cell;
    vertical-align: middle;
    height: 90px;
}

.endpoint .tile-content a {
	width: 120px;
}

.service-group .tile-content a {
	width: 270px;
}

.tile-menu .tile-content a {
	height: 78px;
}

.tile-content a:hover, .tile-content a.hover {
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.tile-icons {
    height: 30px;
    background: #ccc;
    margin-top: 1px;
}

.tile-icons ul {
    list-style-type: none;
    text-align: center;
    line-height: 2.1em;
    margin: 0;
}

.tile-icons ul li{
    display: inline;
    margin-right: 25px;
}

.tile-icons ul li a, .tile-icons ul li a span{
    color: rgba(255, 255, 255, .7);
}

.tile-icons ul li a:hover, .tile-icons ul li a.hover{
    color: rgba(255, 255, 255, 1);
}

.tile-icons ul li:last-of-type{
    display: inline;
    margin-right: 0;
}


/* Tile colours */
.tile.red {
    border-color: #8f0011;
}

.red .tile-content {
  	background: #af0015;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGYwMDExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlMWYzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #8f0011 0%, #ee1f37 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#8f0011), color-stop(100%,#ee1f37));
	background: -webkit-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: -o-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: -ms-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0011', endColorstr='#ee1f37',GradientType=1 );
}

.red .tile-icons {
    background: #8f0011;
}

.tile.orange {
    border-color: #c54900;
}

.orange .tile-content {
   	background: #ff5f00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzU0OTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmODMzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #c54900 0%, #ff8339 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c54900), color-stop(100%,#ff8339));
	background: -webkit-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: -o-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: -ms-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c54900', endColorstr='#ff8339',GradientType=1 );
}

.orange .tile-icons {
    background: #c54900;
}

.tile.yellow {
    border-color: #ab7500;
}

.yellow .tile-content {
    background: #ffbb00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDk5ZjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDk3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #ab7500 0%, #ebbb00 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ab7500), color-stop(100%,#ebbb00));
	background: -webkit-linear-gradient(20deg,  #ab7500 0%,#ebbb00 100%);
	background: -o-linear-gradient(20deg,  #ab7500 0%,#ebbb00 100%);
	background: -ms-linear-gradient(20deg,  #ab7500 0%,#ebbb00 100%);
	background: linear-gradient(20deg,  #ab7500 0%,#ebbb00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab7500', endColorstr='#ebbb00',GradientType=1 );
}

.yellow .tile-icons {
    background: #ab7500;
}

.tile.green {
    border-color: #4b8400;
}

.green .tile-content {
  	background: #5fa00a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGI4NDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3YzIxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #4b8400 0%, #77c213 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4b8400), color-stop(100%,#77c213));
	background: -webkit-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: -o-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: -ms-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8400', endColorstr='#77c213',GradientType=1 );
}

.green .tile-icons {
    background: #4b8400;
}

.tile.blue {
    border-color: #007676;
}

.blue .tile-content {
  	background: #009999;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA3Njc2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdlYzBjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #007676 0%, #7ec0c0 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#007676), color-stop(100%,#7ec0c0));
	background: -webkit-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: -o-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: -ms-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007676', endColorstr='#7ec0c0',GradientType=1 );
}

.blue .tile-icons {
    background: #007676;
}

.purple .tile-content {
  	background: #8b07fd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzMwMWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EzM2JmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #7301df 0%, #a33bfd 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7301df), color-stop(100%,#a33bfd));
	background: -webkit-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: -o-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: -ms-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7301df', endColorstr='#a33bfd',GradientType=1 );
}

.tile.purple {
    border-color: #7301df;
}

.purple .tile-icons {
    background: #7301df;
}

.tile.pink {
    border-color: #9d005c;
}

.pink .tile-content {
  	background: #cb0077;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWQwMDVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMmU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #9d005c 0%, #ce2e8c 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#9d005c), color-stop(100%,#ce2e8c));
	background: -webkit-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: -o-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: -ms-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d005c', endColorstr='#ce2e8c',GradientType=1 );
}

.pink .tile-icons {
    background: #9d005c;
}


/* Logo Tiles */
.tile.ku-logo {
	width: 132px;
	height: 132px;
	background: #0492d4 url('../images/ku-logo.png') no-repeat 50% 0;
	background-size: cover;
	border-radius: 0;
	border: 2px solid #0492D4;
}

.tile.logo {
	width: 132px;
	height: 132px;
	background: #fff url('../images/bg-kompass.png') no-repeat 50% 0;
	background-size: cover;
	border-radius: 0;
	border: 2px solid #0492D4;
	visibility: hidden;
}

.tile.menu {
	width: 132px;
	height: 132px;
	background: #fff;
	border-radius: 0;
	border: 2px solid #000;
	padding 2px;
	text-align: center;
}

.tile.menu .tile-body{
	width:100%;
	height: 100%;
	display: table;
	background: #000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGYwMDExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlMWYzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #000 0%, #706f6f 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000), color-stop(100%,#706f6f));
	background: -webkit-linear-gradient(20deg,  #000 0%,#706f6f 100%);
	background: -o-linear-gradient(20deg,  #000 0%,#706f6f 100%);
	background: -ms-linear-gradient(20deg,  #000 0%,#706f6f 100%);
	background: linear-gradient(20deg,  #000 0%,#706f6f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#706f6f',GradientType=1 );
}

.tile.menu .tile-content, .tile.ms-menu .tile-content{
	display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.tile.menu a, .tile.ms-menu a  {
	display:block;
	/*height: 132px;
	width:132px;*/
}

.tile.menu .tile-content a:hover, .tile-menu .tile-content a.hover {
    text-shadow: -1px 1px 10px #aac, 1px -1px 10px #aaa;
}

/* My Status Tile */
.ms-wall .tile.menu{
	border-color: #0a0159;
	padding: 1px;
	width: 138px;
	height: 138px;
	border: none;
}

.ms-wall .tile.menu .tile-body{
	width:100%;
	height: 100%;
	display: table;
	background: #0a0159;
}

a.button.manage-my-status {
	font-size: 10pt;
	background: #0a0159;
	border: 1px solid #0a0159;
	color: #fff;
	margin-bottom: 0;
}

a.button.manage-my-status:hover {
	background: #fff;
	color: #0a0159;
}

.my-status {
	width: 396px;
	height: 246px;
	background: #fff;
	border: 2px solid #0a0159;
	padding: 20px;
}

.my-status p.small{
	font-size:10pt;
	line-height:1.4
}

.my-status a {
	font-size: 18pt;
	color: #0a0159;
}

.my-status .avatar {
	width: 135px;
	height: 174px;
}

.my-status .details {
	width: 235px;
}

.my-status a:hover {
	color: #0a0159;
}

.my-status .avatar img {
	border-radius: 15px;
	border: 1px solid #0a0159 ;
}

.my-status .details{
	margin-left: 25px;
}

.my-status .profile .details {
	width: 380px;
}

.my-status .profile .summary {
	font-size: 10pt;
	line-height: 1.4;
}

.my-status .profile .summary strong {
	color: #0a0159;
}

.my-status .profile .summary strong:after {
	content: '\003A';
}

.my-status .ticker {
	clear: both;
	padding-top: 35px;
}

.my-status .ticker ul {
	list-style-type: none;
	font-size: 9pt;
}

.my-status .ticker ul li {
	padding-bottom: 3px;
	border-bottom: 1px solid gray;
}

.my-status .icon-list {
	margin-top:10px;
	text-align:center;
}

.my-status .icon-list ul {
	list-style: none;
	margin:0;
}

.my-status .icon-list ul li{
	display: inline;
	margin-left: 6px;
}

.my-status .icon-list ul li:first-of-type{
	margin-left: 0;
}

.my-status .icon-list ul li a .fa{
	color: #0a0159;
}

/* Image Tiles */
.tile.image {
	overflow: hidden;
	padding: 0;
	border: none;
	height: 140px
}

.image.square{
	width: 140px;
	height: 140px;
}

.image.tall{
	width: 140px;
	height: 290px;
}

.image.wide{
	width: 290px;
	height: 140px;
}

/* My Status Tiles */

.ms-wall .my-status {
	width: 550px;
	height: 250px;
	margin: 0 5px 10px;
}

.ms-tile {
    width: 290px;
    height:140px;
    background-color: #fff;
    border: 1px solid #0a0159;
    margin: 0 5px 10px;
}

.ms-tile .tile-body{
    height:109px;
}

.ms-tile-sq {
    width: 140px;
    height:140px;
    background-color: #fff;
    border: 1px solid #0a0159;
    margin: 0 5px 10px;
}

.ms-tile-sq .tile-body{
    width: 140px;
    height: 109px;
    color: #0a0159;
}

.ms-tile .tile-content p, .ms-tile-sq .tile-content p{
	color: #666;
	font-size: 9pt;
}

.ms-tile .tile-content a, .ms-tile-sq .tile-content a{
    color: #0a0159;
    height: initial;
}

.ms-tile .tile-front, {
    text-align: left;
}

.ms-tile-sq .tile-front{
	text-align: center;
}

.ms-tile .tile-front .tile-content, .ms-tile-sq .tile-front .tile-content{
    vertical-align: initial;
    padding-top: 15px;
}

.ms-tile-sq .tile-front .tile-content a{
	width:124px;
}

.ms-tile .tile-back .tile-content {
	width: 274px;
}

.ms-tile-sq .tile-back .tile-content {
	width: 124px;
}

.ms-tile .title {
    text-align: center;
    width:82px;
    float: left;
    margin-left: 20px;
} 

.ms-tile .info {
    width:172px;
    float: left;
} 

.ms-tile-sq .info {
    width:124px;
} 

.ms-tile .info .details{
    margin-top: 8px;
} 

.ms-tile .info .details{
    font-size: 9pt;
}

.ms-tile .tile-icons {
	background: #0a0159;
	width: 288px;
	margin: 0 auto;
}

.ms-tile-sq .tile-icons {
	background: #0a0159;
	width: 138px;
	margin: 0 auto;
}

.ms-tile .tile-icons .fa-lg, .ms-tile-sq .tile-icons .fa-lg{
    line-height: 1.5em;
    vertical-align: 0;
}


.grid-container {
	border: 2px solid #fff;
	padding: 2px;
 	margin-top:3rem;
}

.grid-container .panel {
	margin-bottom: 0;
}

.ms-grid table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border: 2px solid #0a0159;
}

.ms-grid table caption{
	padding: 5px 0;
	background: #0a0159;
	color: #fff;
	line-height: 2.0rem;
}


.ms-grid th {
	background: #0a0159;
	color: #fff;
}

.ms-grid td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-grid table tr.even, .ms-grid table tr.alt, .ms-grid table tr:nth-of-type(even) {
	background: #D6DCFF;
}

/* Column widths are based on these cells */
.td-ref {
  width: 10%;
}

.td-created-at {
  width: 15%;
}

.td-summary {
  width: 45%;
}

.td-status {
  width: 15%;
}
.td-source {
  width: 15%;
}

/** Media Queries **/

/* Smaller screens */

@media only screen and (max-width: 960px) {

	.wall {
		min-width: 600px;
	}
	
}

/* Mobile */

@media handheld, only screen and (max-width: 760px) {
	
	.wall {
		min-width: 0;
		margin-top: 0 !important;
	}	

	.my-status {
		width: 266px;
		height: 120px;
		padding: 10px;
	}

	.my-status .avatar, .my-status .avatar img {
		width: 60px;
	}

	.my-status .details{
		margin-left: 14px;
		width: 180px;
	}

	.my-status .details .welcome{
		font-size: 11pt;
		color: #0a0159;
	}
	
	.my-status .details a.button.manage-my-status{
		font-size: 11pt;
		padding: 8px 16px;
		position: absolute;
		top: 72px;
		left: 75px;
	}

	.my-status .small{
		display: none;
	}

	.my-status .ticker, .my-status .icon-list, .my-status .details p.small{
		display:none;
	}

	.service-group-tall {
		width: 270px;
		height: 130px;
	}

	.service-group-tall .tile-content {
		width: 270px;
	}

	.service-group-tall .tile-body {
		height: 80px;
	}

	.image{
		display: none;
	}

/* Force table to not be like tables anymore */
	.ms-grid table, .ms-grid caption, .ms-grid thead, .ms-grid tbody, .ms-grid th, .ms-grid td, .ms-grid tr { 
		display: block; 
	}
	
	.ms-grid caption { 
		width:100%;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.ms-grid thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.ms-grid tr { border: 1px solid #0a0159; }
	
	.ms-grid td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #0a0159; 
		position: relative;
		padding-left: 50%; 
	}
	
	.ms-grid td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.ms-grid td:nth-of-type(1):before { content: "Reference"; }
	.ms-grid td:nth-of-type(2):before { content: "Date created"; }
	.ms-grid td:nth-of-type(3):before { content: "Summary"; }
	.ms-grid td:nth-of-type(4):before { content: "Status"; }
	.ms-grid td:nth-of-type(5):before { content: "Source"; }

}

/* Foundation Overrides */

.top-bar .button {
	height: initial;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.top-bar .name h1, .top-bar .name h1 a {
	font-size: 0.8125rem;
	display: inline-block;
}

.top-bar .name h1:after {
	content: ">";
	color: gray;
}

.top-bar .name h1:last-of-type:after {
	content: "";
	color: gray;
}

.has-tip {
	border: none;
	color: #fff;
}

.has-tip:hover {
	border: none;
	color: #fff;
}

a {
	color: #0492d4;
}

a:hover, a:focus{
	color:#fff;
	background-color: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: transparent;
}

/* IE > 10 add a class ie to body and apply following styles */

.ie .image.square{
	width: 136px;
	height: 140px;
	/*border-left: 2px solid rgba(255,255,255,0);*/
	border-right: 2px solid rgba(255,255,255,0);
	background: transparent;
}

.ie .image.square img{
	width: 140px;
	height: 140px;
}

.ie .image.tall{
	width: 136px;
	height: 290px;	
	/*border-left: 2px solid rgba(255,255,255,0);*/
	border-right: 2px solid rgba(255,255,255,0););
	background: transparent;
}

.ie .image.tall img{
	width: 140px;
	height: 290px;	
}

.ie .image.wide{
	width: 286px;
	height: 140px;	
	/*border-left: 2px solid rgba(255,255,255,0);*/
	border-right: 2px solid rgba(255,255,255,0););
	background: transparent;
}

.ie .image.wide img{
	width: 290px;
	height: 140px;
}

.ie .service-group, .ie .service-group .tile-body, .ie .service-group .tile-content
 {
    width: 278px;
}

.ie .endpoint, .ie .endpoint .tile-body, .ie .endpoint .tile-content {
    width: 130px;
}

.ie .tile-body{
	height:101px;
}

.ie .my-status {
	width: 389px;
}

.ie .my-status .details{
	width: 229px;
}

.ie .ms-tile .tile-body {
	height: 109px;
}

.ie .ms-tile .info{
	width: 172px;
}

.ie .ms-tile .tile-content a {
	height: inherit;
}

.ie .tile-body{
	perspective:1000px;
	transform-style: preserve-3d;
	position: relative;
}

.ie .flip .tile-front {
	transform: rotateY(-179.9deg);
}

.ie .flip .tile-back {;
	transform: rotateY(0deg);
}

.ie .flip .tile-back p {;
	transform: rotateY(180deg);
}

.ie .flip{
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.ie .tile-front, .ie .tile-back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

.ie .tile-front  {
    height:101px;
	/*margin:2px;*/
	z-index: 2;
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.ie .tile-back  {
    height:101px;
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

<!--[if lte IE 9]>
	.ie .tile-back  {display:none};
<![endif]-->

.ie .tile-back .tile-content p {
    line-height: 1.4;
}

.ie .tile-back .tile-content p {
    line-height: 1.4;
}


.ie .top-bar .button {
	height: auto;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

