
body { 
	background: #000;
	font-family: 'Roboto', sans-serif;
}


.my-kingston {
	width: 370px;
	height: 620px;
	background: #fff;
	overflow: hidden;

	/* temporary for demo */
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	/* temporary for demo */  	
}


.slide {
	width: 370px;
	height: 610px;
	cursor: pointer;
	border: 3px solid;
	padding: 2px;
}

.slide.red {border-color:#8f0011;}
.slide.orange {border-color:#c54900;}
.slide.yellow {border-color:#d99f00;}
.slide.green {border-color:#4b8400;}
.slide.blue {border-color:#007676;}
.slide.pink {border-color:#9d005c;}
.slide.purple {border-color:#7301df;}

.panel {
	width:100%;
	height: 610px;
}

.red .panel{
	background: #af0015;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGYwMDExIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlMWYzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #8f0011 0%, #ee1f37 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#8f0011), color-stop(100%,#ee1f37));
	background: -webkit-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: -o-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: -ms-linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	background: linear-gradient(20deg,  #8f0011 0%,#ee1f37 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0011', endColorstr='#ee1f37',GradientType=1 );
}

.orange .panel{
	background: #ff5f00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzU0OTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmODMzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #c54900 0%, #ff8339 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c54900), color-stop(100%,#ff8339));
	background: -webkit-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: -o-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: -ms-linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	background: linear-gradient(20deg,  #c54900 0%,#ff8339 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c54900', endColorstr='#ff8339',GradientType=1 );
}

.yellow .panel{
    background: #ffbb00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDk5ZjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZDk3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #d99f00 0%, #ffd970 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d99f00), color-stop(100%,#ffd970));
	background: -webkit-linear-gradient(20deg,  #d99f00 0%,#ffd970 100%);
	background: -o-linear-gradient(20deg,  #d99f00 0%,#ffd970 100%);
	background: -ms-linear-gradient(20deg,  #d99f00 0%,#ffd970 100%);
	background: linear-gradient(20deg,  #d99f00 0%,#ffd970 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d99f00', endColorstr='#ffd970',GradientType=1 );
}

.green .panel{
background: #5fa00a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGI4NDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3YzIxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #4b8400 0%, #77c213 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4b8400), color-stop(100%,#77c213));
	background: -webkit-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: -o-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: -ms-linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	background: linear-gradient(20deg,  #4b8400 0%,#77c213 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8400', endColorstr='#77c213',GradientType=1 );

}

.blue .panel{
  	background: #009999;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA3Njc2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdlYzBjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #007676 0%, #7ec0c0 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#007676), color-stop(100%,#7ec0c0));
	background: -webkit-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: -o-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: -ms-linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	background: linear-gradient(20deg,  #007676 0%,#7ec0c0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007676', endColorstr='#7ec0c0',GradientType=1 );
}

.pink .panel{
	background: #cb0077;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWQwMDVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMmU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #9d005c 0%, #ce2e8c 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#9d005c), color-stop(100%,#ce2e8c));
	background: -webkit-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: -o-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: -ms-linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	background: linear-gradient(20deg,  #9d005c 0%,#ce2e8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d005c', endColorstr='#ce2e8c',GradientType=1 );
}

.purple .panel{
	background: #8b07fd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzMwMWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EzM2JmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(20deg,  #7301df 0%, #a33bfd 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7301df), color-stop(100%,#a33bfd));
	background: -webkit-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: -o-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: -ms-linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	background: linear-gradient(20deg,  #7301df 0%,#a33bfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7301df', endColorstr='#a33bfd',GradientType=1 );
}

.question {
	font-size: 16pt;
	line-height: 20pt;
	width:225px;
	color: #0492D4;
	margin: 0;
	position: relative;
	padding: 50px 40px;
	text-align: right;
	color: #000;
	background: #fff;
	font-family: serif;
	-webkit-border-top-left-radius: 240px 120px;
	-webkit-border-top-right-radius: 240px 120px;
	-webkit-border-bottom-right-radius: 240px 120px;
	-webkit-border-bottom-left-radius: 240px 120px;
	-moz-border-radius: 240px / 120px;
	border-radius: 240px / 120px;
}

.red .question {
	top: 15px;
	left: 15px;
}

.question:before {
	content: "";
	position: absolute;
	z-index: 10;
	bottom: -30px;
	right: 150px;
	width: 50px;
	height: 50px;
	background: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	display: block;
}

.question:after {
	content: "";
	position: absolute;
	z-index: 10;
	bottom: -60px;
	right: 110px;
	width: 25px;
	height: 25px;
	background: #fff;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	display: block;
}


.question span{
	color: #000;
}

.panel img {
	border-radius: 50%;
	position: relative;
	width: 55%;
}

.button {

}

.answer {
	display: block;
	position: relative;
	top: 130px;
	left: 111px;
	width: 250px;
	height:70px;
	background: #fff;
}

.answer img{
	width: 70px;
	width:70px;
	float: left;
}

.answer p{
	float: left;
	margin:10px 0 0 20px;
	font-size: 18pt;
	line-height: 20pt;
}

.answer p .take-me{
	font-size: 12pt;
	font-style: italic;
}

.answer p .take-me i {
	margin-left: 8px;
}

.answer a{
	color: #0492D4;
}

.im1  {
	top: 25px;
	left: 155px;
}
/*
#im-2 .question {
	text-align: right;
	padding-right: 25px;
	padding-left: 90px;
	margin-right: 30px;
}

#im-3 .question {
	text-align: right;
	padding-right: 25px;
	margin-right: 30px;
}

#im-4 .question {
	text-align: right;
	padding-right: 25px;
	margin-right: 74px;
}

#im-5 .question {
	text-align: right;
	padding-right: 25px;
	margin-right: 30px;
}*/

.my-kingston #im-1 {
	/*background: transparent url('/assets/images/routes/mk-slide-1.jpg') no-repeat;
	padding-top:35px;*/
}

.my-kingston #im-2 {
	/*background: transparent url('/assets/images/routes/mk-slide-2.jpg') no-repeat;
	padding-top:35px;*/
}

.my-kingston #im-3 {
	background: transparent url('/assets/images/routes/mk-slide-3.jpg') no-repeat;
	padding-top:65px;
}

.my-kingston #im-4 {
	/*background: transparent url('/assets/images/routes/mk-slide-4.jpg') no-repeat;
	padding-top:55px;*/
}

.my-kingston #im-5 {
	/*background: transparent url('/assets/images/routes/mk-slide-5.jpg') no-repeat;
	padding-top:35px;*/
}

.my-kingston #im-6 {
	/*background: transparent url('/assets/images/routes/mk-slide-1.jpg') no-repeat;*/
}

.my-kingston #im-7 {
	/*background: transparent url('/assets/images/routes/mk-slide-1.jpg') no-repeat;*/
}

.my-kingston #im-8 {
	/*background: transparent url('/assets/images/routes/mk-slide-1.jpg') no-repeat;*/
}

.my-kingston #im-9 {
	/*background: transparent url('/assets/images/routes/mk-slide-1.jpg') no-repeat;*/
}