	
  	<header class="fixed">
		<ng-include src="'assets/js/app/views/partials/my-accounts/top-bar.html'"></ng-include>
	</header>
    <div id="mask">
        <div class="spinner">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
	<div class="container">
		<div class="ms-wall">
            <div class="my-status pack" packery>
                <div class="profile">
                    <div class="tile-body">
                        <div class="avatar left">
                            <a ng-href="/my-accounts"><img src="{{ctrl.user.avatar}}"></a>
                        </div>
                        <div class="details left">
                            <a ng-href="/my-accounts">My Accounts</a>
                            <p>{{ctrl.user.first_name}}&nbsp;{{ ctrl.user.last_name }} ({{ ctrl.user.employee_class }})</p>
                            
                        </div>
                    </div>
                </div>
            </div>

			<div ng-if="ctrl.user.employee_type==0" ng-include="'assets/js/app/views/partials/my-accounts/staff-tiles.html'"></div>

            <div ng-if="ctrl.user.employee_type==1" ng-include="'assets/js/app/views/partials/my-accounts/student-tiles.html'"></div>

        </div>
	</div>