	
  	<header class="fixed">
		<ng-include src="'assets/js/app/views/partials/my_status/top-bar.html'"></ng-include>
	</header>

	<div class="container">
		<div class="ms-wall">
            <div class="my-status pack" packery>
                <div class="profile">
                    <div class="tile-body">
                        <div class="avatar left">
                            <a ng-href="/my-status"><img src="{{ctrl.user.avatar}}"></a>
                        </div>
                        <div class="details left">
                            <a ng-href="/my-status">My Status</a>
                            <p>Welcome back {{ctrl.user.first_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
			<ng-include src="'assets/js/app/views/partials/my_status/tiles/my-tickets.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-print-account.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-it-account.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-door-access.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-fees.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-modules.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-room-bookings.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-equipment-loans.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-library.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-timetable.html'"></ng-include>
            <ng-include src="'assets/js/app/views/partials/my_status/tiles/my-mail.html'"></ng-include> 
        </div>
	</div>