            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-tickets.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-mail.html'"></div> 

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-library.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-timetable.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-door-access.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/my-it-account.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/hr-yourself.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/ku-ops.html'"></div>

            <div ng-include="'assets/js/app/views/partials/my-status/tiles/room-booking.html'"></div>