        <div>
            <top-bar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a ng-href="/{{ ctrl.navbar.home.link }}">{{ ctrl.navbar.home.label }}</a></h1>
                    </li>                    
                </ul>

                <top-bar-section>
                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li>
                            <div><a ng-href="/"><i class="fa fa-th fa-lg"></i></a></div>
                        </li>
                        <li has-dropdown>
                            <div><a href="#"><i class="fa fa-ellipsis-h fa-lg"></i></a></div>
                            <ul top-bar-dropdown>
                                <li><a ng-href="/{{ ctrl.navbar.home.link }}">{{ ctrl.navbar.home.label }}</a></li>
                                <li ng-repeat="crumb in navBarCtrl.navbar.breadcrumbs">
                                    <a ng-href="/{{ ctrl.navbar.home.link }}/{{ crumb.link }}">{{ crumb.label }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div><a href="https://staffspace.kingston.ac.uk/collaboration/service-desk-project/Pages/default.aspx" target="_blank" style="height:100%"><i class="fa fa-question fa-lg"></i></a></div>
                        </li>
                    </ul> 
                </top-bar-section>
            </top-bar>
        </div>