        <div>
            <top-bar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a ng-href="/{{ ctrl.navbar.home.link }}">{{ ctrl.navbar.home.label }}</a></h1>
                    </li>  
                    <li toggle-top-bar class="menu-icon"><a href="#"><span></span></a></li>                  
                </ul>

                <top-bar-section>
                    <!-- Right Nav Section -->
                    <ul class="right hide-for-small-only">
                        <li>
                            <div><a ng-href="/" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Navigator Icon')"><i class="fa fa-th fa-lg"></i></a></div>
                        </li>
                        <li has-dropdown>
                            <div><a href="#"><i class="fa fa-ellipsis-h fa-lg" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Breadcrumb Menu Icon')"></i></a></div>
                            <ul top-bar-dropdown>
                                <li><a ng-href="/{{ ctrl.navbar.home.link }}" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Breadcrumb Link - ' + ctrl.navbar.home.label)">{{ ctrl.navbar.home.label }}</a></li>
                                <li ng-repeat="crumb in navBarCtrl.navbar.breadcrumbs">
                                    <a ng-href="/{{ ctrl.navbar.home.link }}/{{ crumb.link }}" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Breadcrumb Link - ' + crumb.label)">{{ crumb.label }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div><a href="https://mykingston.kingston.ac.uk/tools/KU-Navigator/Pages/default.aspx" target="_blank" style="height:100%" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Help Icon')"><i class="fa fa-question fa-lg"></i></a></div>
                        </li>
                    </ul> 
                    
                    <ul class="right show-for-small-only">
                        <li>
                            <div><a ng-href="/"><i class="fa fa-th fa-lg" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Navigator Icon')"></i>&nbsp;Navigator</a></div>
                        </li>
                        <li>
                            <div><a href="https://mykingston.kingston.ac.uk/tools/KU-Navigator/Pages/default.aspx" target="_blank" style="height:100%"><i class="fa fa-question fa-lg" ng-click="ctrl.trackEvent('Menu Bar', 'Clicked', 'Help Icon')"></i>&nbsp;Help</a></div>
                        </li>
                    </ul> 

                </top-bar-section>
            </top-bar>
        </div>