            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='ku-ops'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://kingston.egsgroup.com/idea/useradmin/login.jsp?" target="_blank"><i class="fa fa-shopping-cart fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://kingston.egsgroup.com/idea/useradmin/login.jsp?" target="_blank">KU OPS</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>Online purchasing system for Kingston University</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('ku-ops')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>