            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-door-access'}">
                        <div class="tile-front" id="front-my-door-access">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://orac.kingston.ac.uk/orac/options/dooraccess/index.php" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Door Access')"><i class="fa fa-unlock-alt fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://orac.kingston.ac.uk/orac/options/dooraccess/index.php" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Door Access')">My Door Access</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-door-access">
                            <div class="tile-content">
                                <p>Security - door access details</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-door-access')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>