            <div class="ms-tile pack" packery>
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-equipment-loans'}">
                        <div class="tile-front" id="front-my-equipment-loans">
                            <div class="tile-content" >
                                <div class="title">
                                     <a ng-href="my-equipment-loans" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Equipment Loans')"><i class="fa fa-truck fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a ng-href="my-equipment-loans" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Equipment Loans')">My Equipment Loans</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-equipment-loans">
                            <div class="tile-content">
                                <p>A loans and booking system to provide specialist equipment and rooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-equipment-loans')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>