            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-it-account'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://webapps2.kingston.ac.uk/helpdesk/forms/supportutility/my-it.php?name={{ctrl.user.id}}" target="_blank"><i class="fa fa-laptop fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://webapps2.kingston.ac.uk/helpdesk/forms/supportutility/my-it.php?name={{ctrl.user.id}}" target="_blank">My IT Account</a>
                                    <div class="details">
                                        <p>Account Status: Active</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>On The back</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-it-account')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>