            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-it-account'}">
                        <div class="tile-front" id="front-my-it-account">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://webapps2.kingston.ac.uk/helpdesk/forms/kunavigator/99rb.php?name={{ctrl.user.id}}" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My IT Account')"><i class="fa fa-laptop fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://webapps2.kingston.ac.uk/helpdesk/forms/kunavigator/99rb.php?name={{ctrl.user.id}}" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My IT Account')">My IT Account</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-it-account">
                            <div class="tile-content">
                                <p>Check and manage your IT account</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-it-account')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>