            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-modules'}">
                        <div class="tile-front" id="front-my-modules">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://osis.kingston.ac.uk/" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Modules')"><i class="fa fa-cubes fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://osis.kingston.ac.uk/" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Modules')">My Modules</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-modules">
                            <div class="tile-content">
                                <p>Access to your University module guides and grades</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-modules')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>