            <div class="ms-tile pack" packery>
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-mail'}">
                        <div class="tile-front" id="front-my-mail">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://mymail.kingston.ac.uk" target="_blank" ><i class="fa fa-envelope-o fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="http://mymail.kingston.ac.uk" target="_blank" >My Mail</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-mail">
                            <div class="tile-content">
                                <p>Access to your University mail box</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-mail')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>