            <div class="ms-tile pack" packery>
                <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-print-account'}">
                    <div class="tile-front" id="front-my-print-account">
                        <div class="tile-content" >
                            <div class="title">
                                 <a href="https://kupcutapp01.kingston.ac.uk:9192" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Print Account')" ><i class="fa fa-print fa-3x"></i></a>
                            </div>
                            <div class="info">
                                <a href="https://kupcutapp01.kingston.ac.uk:9192" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Print Account')" >My Print Account</a>
                                <div class="details">
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile-back" id="back-my-print-account">
                        <div class="tile-content">
                            <p>See your recent print activity and manage your credit</p>
                        </div>
                    </div>
                </div>
                <div class="tile-icons">
                    <ul>
                        <li><a href="#" ng-click="ctrl.toggleInfo('my-print-account')"><i class="fa fa-info fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>