            <div class="ms-tile pack" packery>
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-room-bookings'}">
                        <div class="tile-front" id="front-my-room-bookings">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://kuloans.kingston.ac.uk/connect2/wizard/default.aspx" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Rook Bookings')" ><i class="fa fa-calendar-check-o fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://kuloans.kingston.ac.uk/connect2/wizard/default.aspx" target="_blank" ng-click="ctrl.trackEvent('My Accounts Service Tiles', 'Clicked', 'My Rook Bookings')" >My Room Bookings</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back" id="back-my-room-bookings">
                            <div class="tile-content">
                                <p>Use this link to book and manage your LRC room bookings</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-room-bookings')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>