            <div class="ms-tile pack" packery >
                    <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-studyspace'}">
                        <div class="tile-front">
                            <div class="tile-content" >
                                <div class="title">
                                     <a href="https://studyspace.kingston.ac.uk/webapps/login/" target="_blank"><i class="fa fa-briefcase fa-3x"></i></a>
                                </div>
                                <div class="info">
                                    <a href="https://studyspace.kingston.ac.uk/webapps/login/" target="_blank">My Studyspace</a>
                                    <div class="details">
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile-back">
                            <div class="tile-content">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="tile-icons">
                        <ul>
                            <li><a href="#" ng-click="ctrl.toggleInfo('my-studyspace')"><i class="fa fa-info fa-lg"></i></a></li>
                        </ul>
                    </div>
            </div>