            <div class="ms-tile pack" packery>
                <div class="tile-body row" ng-class="{'flip': toggleInfo=='my-tickets'}">
                    <div class="tile-front" id="front-my-tickets">
                        <div class="tile-content" >
                            <div class="title">
                                 <a ng-href="my-tickets" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Tickets')"><i class="fa fa-tags fa-3x"></i></a>
                            </div>
                            <div class="info">
                                <a ng-href="/my-accounts/my-tickets" ng-click="ctrl.trackEvent('My Accounts Service Tile', 'Clicked', 'My Tickets')">My Tickets</a>
                                <div class="details">
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile-back" id="back-my-tickets">
                        <div class="tile-content">
                            <p>Check the status of your tickets raised with IT, Libraries, Student Services or KUSCO (Building & Maintenance)</p>
                        </div>
                    </div>
                </div>
                <div class="tile-icons">
                    <ul>
                        <li><a href="#" ng-click="ctrl.toggleInfo('my-tickets')"><i class="fa fa-info fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>